.std-bookmark {
    background-position: center right;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.std-bookmark > ul {
    list-style-type: none;
    margin: 10px;
    padding-left: 0;
}
.std-bookmark > ul > li > a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.std-bookmark > ul > li > span {
    background-color: black;
    color: white;
    margin-right: 10px;
    margin-top: 5px;
    opacity: 0;
    overflow: hidden;
    padding: 10px;
    position: absolute;
    text-align: justify;
    transition: opacity 0s linear 0s;
    visibility: hidden;
    z-index: 1;
}
.std-bookmark > ul > li:hover > span {
    opacity: 1;
    transition: opacity 0.5s linear 1s;
    visibility: visible;
}
