.core-stack {
    background-image: url("img/icon.svg");
    background-position: right 0.7em center;
    background-repeat: no-repeat;
    background-size: auto calc(100% - 1.4em);
}
.core-stack > ul {
    list-style-type: none;
    margin: 0.7em;
    padding-left: 0;
}
.core-stack > ul > li > a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.core-stack > ul > li > span {
    background-color: black;
    color: white;
    margin-right: 0.7em;
    margin-top: 0.7em;
    opacity: 0;
    overflow: hidden;
    padding: 0.7em;
    position: absolute;
    text-align: justify;
    visibility: hidden;
}
.core-stack > ul > li:hover > span {
    opacity: 1;
    transition: z-index 1s linear, opacity 0.5s linear 1s;
    visibility: visible;
    z-index: 1;
}
