.regseb-betaseries {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.regseb-betaseries p {
    margin: 0.7em;
}
.regseb-betaseries button {
    background-color: black;
    border: medium none;
    border-radius: 0.2em;
    box-shadow:
        0 0.2em 0.2em 0      rgba(0, 0, 0, 0.14),
        0 0.3em 0.1em -0.2em rgba(0, 0, 0, 0.2),
        0 0.1em 0.5em 0      rgba(0, 0, 0, 0.12);
    box-sizing: content-box;
    color: white;
    cursor: pointer;
    font-size: 10px;
    padding: 0.7em;
}
.regseb-betaseries button:hover {
    filter: brightness(1.2);
}
.regseb-betaseries p a {
    display: none;
}
.regseb-betaseries p a:visited {
    color: white;
}
.regseb-betaseries ul {
    display: none;
    list-style-type: none;
    margin: 0.7em;
    padding-left: 0;
}
.regseb-betaseries ul button {
    height: 10px;
    line-height: 5px;
    margin-right: 0.3em;
    padding: 0;
    width: 14px;
}
.regseb-betaseries ul a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
