body {
    font-family: Verdana, sans-serif;
    font-size: 10px;
    line-height: 1.4em;
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: black;
}
a:hover {
    text-decoration: underline;
}

article {
    position: absolute;
}
