core-single {
    background-color: black;
    background-position: 0.7em center;
    background-repeat: no-repeat;
    background-size: auto calc(100% - 1.4em);
    font-family: Verdana, sans-serif;
    font-size: 10px;
    line-height: 1.4em;
}
core-single > p {
    margin: 0.7em;
    padding-left: 2.1em;
}
core-single > p > a {
    color: white;
    display: block;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
core-single > p > a:visited {
    color: black;
}
core-single > p > a[href]:hover {
    text-decoration: underline;
}
core-single > p > span {
    background-color: black;
    color: white;
    margin-right: 0.7em;
    margin-top: 0.7em;
    opacity: 0;
    overflow: hidden;
    padding: 0.7em;
    position: absolute;
    text-align: justify;
    visibility: hidden;
}
core-single > p > a:hover + span {
    opacity: 1;
    transition: z-index 1s linear, opacity 0.5s linear 1s;
    visibility: visible;
    z-index: 1;
}
