.regseb-articleauhasard {
    background-image: url("img/icon.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 0.7em center;
}
.regseb-articleauhasard p {
    margin: 0.7em;
    padding-left: 3.5em;
}
.regseb-articleauhasard a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.regseb-articleauahasard a:visited {
    color: white;
}
