.regseb-gmail {
    background-image: url("img/icon.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.regseb-gmail p {
    margin: 0.7em;
}
.regseb-gmail button {
    background-color: black;
    border: medium none;
    border-radius: 0.25em;
    box-sizing: content-box;
    color: white;
    cursor: pointer;
    font-size: 10px;
    padding: 0.7em;
}
.regseb-gmail p a {
    display: none;
}
.regseb-gmail p a:visited {
    color: white;
}
.regseb-gmail ul {
    display: none;
    list-style-type: none;
    margin: 0.7em;
    padding-left: 0;
}
.regseb-gmail ul a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
