ul {
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: auto calc(100% - 16px);
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
    list-style-type: none;
    margin: 0;
    padding: 8px;
}

li {
    align-items: center;
    display: flex;
}
li.empty {
    font-style: italic;
}

img {
    height: 12px;
    margin-right: 4px;
    opacity: 80%;
    width: 12px;
}
img[src=""] {
    display: none;
}

a {
    color: white;
    flex-grow: 1;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a:visited {
    color: black;
}
a[href]:hover {
    text-decoration: underline;
}
