core-podcast {
    background-image: url("img/icon.svg");
    background-position: right 0.7em center;
    background-repeat: no-repeat;
    background-size: auto calc(100% - 1.4em);
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    line-height: 1.4em;
    padding: 0.7em;
}

core-podcast a {
    color: white;
    text-decoration: none;
}
core-podcast a:visited {
    color: black;
}
core-podcast a[href]:hover {
    text-decoration: underline;
}

core-podcast > ul > li > img, core-podcast > ul > li > div > img {
    cursor: pointer;
    height: 10px;
    margin-top: 2px;
    opacity: 0.8;
    transition: 0.2s ease-out;
    width: 10px;
}
core-podcast > ul > li > img:hover, core-podcast > ul > li > div > img:hover {
    opacity: 1;
}

core-podcast > ul > li > input[type="range"],
core-podcast > ul > li > div > input[type="range"] {
    background-color: transparent;
    cursor: pointer;
    height: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
    padding: 0;
}

core-podcast > ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
core-podcast > ul > li > img:first-of-type {
    float: left;
    margin-right: 4px;
}
core-podcast > ul > li > a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
core-podcast > ul > li > span {
    background-color: black;
    color: white;
    margin-right: 0.7em;
    margin-top: 0.7em;
    opacity: 0;
    overflow: hidden;
    padding: 0.7em;
    position: absolute;
    text-align: justify;
    visibility: hidden;
}
core-podcast > ul > li > a:hover + span {
    opacity: 1;
    transition: z-index 1s linear, opacity 0.5s linear 1s;
    visibility: visible;
    z-index: 1;
}
core-podcast > ul > li > input {
    display: none;
    width: calc(100% - 28px);
}

core-podcast > ul > li > img:last-of-type {
    display: none;
    float: right;
    margin-left: 4px;
}

core-podcast > ul > li > div {
    display: none;
}
core-podcast > ul > li > div > input[type="range"] {
    margin-left: 4px;
    margin-right: 14px;
    width: 112px;
}
core-podcast > ul > li > div > input[type="text"] {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    color: white;
    margin-left: 4px;
    padding: 0;
    transition: 0.2s ease-out;
    width: 28px;
}
core-podcast > ul > li > div > input[type="text"]::placeholder {
    opacity: 0.8;
    transition: 0.2s ease-out;
}
core-podcast > ul > li > div > input[type="text"]:focus {
    border-bottom-color: white;
}
core-podcast > ul > li > div > input[type="text"]:focus::placeholder {
    opacity: 0.2;
}
