div {
    display: flex;
}

a {
    display: flex;
    opacity: 80%;
    padding: 8px;
    transition: 0.2s ease-out;
}
a[href]:hover {
    opacity: 100%;
}

img {
    width: 100%;
}
img[src=""] {
    display: none;
}
