div {
    align-items: center;
    background-color: var(--color);
    display: flex;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding: 8px;
}
div.empty {
    font-style: italic;
}

img {
    height: 16px;
    margin-right: 8px;
    opacity: 80%;
}
img[src=""] {
    display: none;
}

a {
    color: white;
    flex-grow: 1;
    overflow: hidden;
    text-decoration: none;
    /* Utiliser une ellipse en attendant que le fondu soit implémenté.
      https://bugzil.la/1688566 */
    text-overflow: ellipsis;
    white-space: nowrap;
}
a:visited,
li.empty a {
    color: color-mix(in oklch, white 50%, var(--color) 50%);
}
a[href]:hover {
    text-decoration: underline;
}
a[href]:visited:hover,
li.empty a[href]:hover {
    color: color-mix(in oklch, white 80%, var(--color) 20%);
}

.empty {
    font-style: italic;
}
