.regseb-jenkins {
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.regseb-jenkins p {
    margin: 0.7em;
}
.regseb-jenkins p a {
    color: black;
}
.regseb-jenkins ul {
    display: none;
    list-style-type: none;
    margin: 0.7em;
    padding-left: 0;
}
.regseb-jenkins ul a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
