body {
    background-color: #fafafa;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    line-height: 1.4em;
    width: 100%;
}

article {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.2em;
    box-shadow:
        0 0.2em 0.2em 0      rgba(0, 0, 0, 0.14),
        0 0.3em 0.1em -0.2em rgba(0, 0, 0, 0.2),
        0 0.1em 0.5em 0      rgba(0, 0, 0, 0.12);
    cursor: move;
    direction: rtl;
    overflow: hidden;
    position: absolute;
}

nav {
    bottom: 20px;
    position: fixed;
    right: 20px;
    z-index: 1;
}

button {
    background-color: black;
    border: none;
    border-radius: 50%;
    box-shadow:
        0 0.2em 0.2em 0      rgba(0, 0, 0, 0.14),
        0 0.3em 0.1em -0.2em rgba(0, 0, 0, 0.2),
        0 0.1em 0.5em 0      rgba(0, 0, 0, 0.12);
    cursor: pointer;
    height: 40px;
    padding: 8px;
    width: 40px;
}
.resize {
    bottom: 0;
    cursor: nwse-resize;
    position: absolute;
    right: 0;
}
dialog {
    border: none;
    box-shadow:
        0 9px  46px  8px rgba(0, 0, 0, 0.14),
        0 11px 15px -7px rgba(0, 0, 0, 0.12),
        0 24px 38px  3px rgba(0, 0, 0, 0.2);
}
menu {
    text-align: right;
}
input[type="submit"] {
    background-color: black;
    border: medium none;
    border-radius: 0.2em;
    box-shadow:
        0 0.2em 0.2em 0      rgba(0, 0, 0, 0.14),
        0 0.3em 0.1em -0.2em rgba(0, 0, 0, 0.2),
        0 0.1em 0.5em 0      rgba(0, 0, 0, 0.12);
    box-sizing: content-box;
    color: white;
    cursor: pointer;
    font-size: 10px;
    padding: 0.7em;
    transition: 0.2s ease-out;
}

input[type="text"], textarea {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    font-family: monospace;
    transition: 0.2s ease-out;
    width: 100%;
}
input[type="text"]::placeholder, textarea::placeholder {
    opacity: 0.12;
    transition: 0.2s ease-out;
}
input[type="text"]:focus, textarea:focus {
    border-bottom-color: black;
}
input[type="text"]:focus::placeholder, textarea:focus::placeholder {
    opacity: 0.06;
}
h3 input[type="text"] {
    font-size: 2em;
}
