.om {
    background-image: url("mod/om/img/logo.svg");
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-top: 10px;
    color: white;
}
.om p {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.om a:visited {
    color: white;
}
.om img {
    vertical-align: middle;
}