.std-weather {
    color: white;
}
.std-weather h1 {
    margin-bottom: 0;
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-top: 0.7em;
}

.std-weather ul {
    margin-bottom: 0.7em;
    margin-left: 0.7em;
    margin-right: 0.7em;
    margin-top: 0;
    padding-left: 0;
}
.std-weather li {
    overflow: auto;
}
.std-weather li p {
    float: left;
    margin-bottom: 0;
    margin-top: 0;
}
.std-weather li strong {
    display: block;
    text-transform: capitalize;
    width: 60px;
}
.std-weather li span {
    display: block;
}
.std-weather .temp {
    background-image: url("img/temp.svg");
    background-position: 0 center;
    background-repeat: no-repeat;
    padding-left: 10px;
}
.std-weather .wind:before {
    background-image: url("img/wind.svg");
    background-position: 0 center;
    background-repeat: no-repeat;
    content: "";
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
    z-index: -1;
    transform: rotate(-30deg);
    position: absolute;
}
