div {
    background-color: var(--color);
    position: relative;
}

a {
    display: flex;
    opacity: 80%;
    padding: 8px;
    transition: 0.2s ease-out;
}
a[href]:hover {
    opacity: 100%;
}

img {
    width: 100%;
}
img[src=""] {
    display: none;
}

input {
    background-color: rgb(0 0 0 / 50%);
    bottom: 0;
    cursor: pointer;
    height: 24px;
    margin: 0;
    opacity: 0%;
    padding: 0;
    position: absolute;
    transition: 0.2s ease-out;
    width: 100%;
    z-index: 1;
}
input::-moz-range-track {
    background-color: black;
    border-radius: 1px;
    height: 2px;
}
input::-moz-range-progress {
    background-color: white;
    border-radius: 1px;
    height: 2px;
}
input::-moz-range-thumb {
    background-color: white;
    border: 0;
    height: 12px;
    width: 12px;
}
div:hover input,
input.active {
    opacity: 80%;
}
div input:hover {
    opacity: 100%;
}
