example-hello {
    background-image: url("img/icon.svg");
    background-position: 0.7em center;
    background-repeat: no-repeat;
    background-size: auto calc(100% - 1.4em);
    display: block;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    line-height: 1.4em;
    padding: 0.7em;
}
example-hello p {
    color: white;
    margin: 0;
    padding-left: 2.1em;
}
