.regseb-tele7jours {
    color: white;
}
.regseb-tele7jours ul {
    list-style-type: none;
    margin: 0.7em;
    padding-left: 0;
}
.regseb-tele7jours li {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.regseb-tele7jours li > img {
    margin-right: 0.3em;
}
.regseb-tele7jours span {
    margin-right: 0.3em;
}
.regseb-tele7jours .films          { background-color: #e51400; }
.regseb-tele7jours .telefilms      { background-color: #a20025; }
.regseb-tele7jours .series-tv      { background-color: #1ba1e2; }
.regseb-tele7jours .divertissement { background-color: #aa00ff; }
.regseb-tele7jours .documentaires  { background-color: #fa6800; }
.regseb-tele7jours .magazine       { background-color: #0050ef; }
.regseb-tele7jours .sport          { background-color: #008a00; }
.regseb-tele7jours .musique        { background-color: #008a00; }
.regseb-tele7jours .unknown        { background-color: #647687; }
