.core-search img,
.core-search input {
    vertical-align: middle;
}
.core-search form img {
    cursor: pointer;
}
.core-search input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    color: white;
    padding: 0;
    transition: 0.2s ease-out;
}
.core-search input::placeholder {
    opacity: 0.8;
    transition: 0.2s ease-out;
}
.core-search input:focus {
    border-bottom-color: white;
}
.core-search input:focus::placeholder {
    opacity: 0.2;
}
.core-search ul {
    background-color: black;
    color: white;
    list-style-type: none;
    margin-top: 5px;
    padding-left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.core-search li {
    cursor: pointer;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-top: 3px;
}
.core-search ul img {
    height: 24px;
    margin-right: 5px;
    width: 24px;
}
