ul {
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: auto calc(100% - 16px);
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
    list-style-type: none;
    margin: 0;
    padding: 8px;
}

li {
    align-items: center;
    display: flex;
}
li.empty {
    font-style: italic;
}

img {
    cursor: pointer;
    height: 12px;
    margin-right: 4px;
    opacity: 80%;
    transition: 0.2s ease-out;
    width: 12px;
}
img:hover {
    opacity: 100%;
}

a {
    color: white;
    flex-grow: 1;
    overflow: hidden;
    text-decoration: none;
    /* Utiliser une ellipse en attendant que le fondu soit implémenté.
      https://bugzil.la/1688566 */
    text-overflow: ellipsis;
    white-space: nowrap;
}
a:visited,
li.empty a {
    color: black;
}
a[href]:hover {
    text-decoration: underline;
}

input {
    background-color: transparent;
    cursor: pointer;
    display: none;
    height: 12px;
    width: 100%;
}
input::-moz-range-track {
    background-color: black;
    border-radius: 1px;
    height: 2px;
}
input::-moz-range-progress {
    background-color: white;
    border-radius: 1px;
    height: 2px;
}
input::-moz-range-thumb {
    background-color: white;
    border: 0;
    height: 12px;
    width: 12px;
}
