.regseb-tele2semaines > ul {
    color: white;
    list-style-type: none;
    margin: 0.7em;
    padding-left: 0;
}
.regseb-tele2semaines > ul > li {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.regseb-tele2semaines > ul > li > img,
.regseb-tele2semaines > ul > li > span {
    margin-right: 0.3em;
}
.regseb-tele2semaines .culture        { background-color: #cddc39; }
.regseb-tele2semaines .jeunesse       { background-color: #ff9800; }
.regseb-tele2semaines .information    { background-color: #607d8b; }
.regseb-tele2semaines .sport          { background-color: #4caf50; }
.regseb-tele2semaines .film           { background-color: #f44336; }
.regseb-tele2semaines .serie          { background-color: #00bcd4; }
.regseb-tele2semaines .divertissement { background-color: #aa00ff; }
.regseb-tele2semaines .documentaire   { background-color: #9c27b0; }
.regseb-tele2semaines .telefilm       { background-color: #f91f63; }
.regseb-tele2semaines .divers         { background-color: #000000; }

.regseb-tele2semaines > ul > li > div {
    background-color: black;
    color: white;
    margin-right: 0.7em;
    margin-top: 0.7em;
    opacity: 0;
    overflow: hidden;
    padding: 0.7em;
    position: absolute;
    text-align: justify;
    transition: z-index 0s linear 0s, opacity 0s linear 0s;
    visibility: hidden;
}
.regseb-tele2semaines > ul > li:hover > div {
    opacity: 1;
    transition: z-index 1s linear, opacity 0.5s linear 1s;
    visibility: visible;
    z-index: 1;
}
