.regseb-tv {
    color: white;
}
.regseb-tv ul {
    list-style-type: none;
    margin: 0.7em;
    padding-left: 0;
}
.regseb-tv li {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.regseb-tv li > img {
    margin-right: 0.3em;
}
.regseb-tv span {
    border-radius: 0.3em;
    margin-right: 0.3em;
}
.regseb-tv .films          { background-color: #e51400; }
.regseb-tv .telefilms      { background-color: #a20025; }
.regseb-tv .series-tv      { background-color: #1ba1e2; }
.regseb-tv .divertissement { background-color: #aa00ff; }
.regseb-tv .documentaires  { background-color: #fa6800; }
.regseb-tv .magazine       { background-color: #0050ef; }
.regseb-tv .sport          { background-color: #008a00; }
.regseb-tv .musique        { background-color: #008a00; }
.regseb-tv .unknown        { background-color: #647687; }
