.std-image {
    overflow: hidden;
}
.std-image span:first-of-type, .std-image span:last-of-type {
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 10%;
}
.std-image span:first-of-type:hover, .std-image span:last-of-type:hover {
    opacity: 0.5;
}
.std-image span:first-of-type {
    background-image: url("img/left.svg");
    left: 0;
}
.std-image span:last-of-type {
    background-image: url("img/right.svg");
    right: 0;
}

.std-image ul {
    left: 0;
    margin-top: 0;
    padding-left: 0;
    position: absolute;
}
.std-image li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
}
.std-image img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: middle;
}