<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <meta charset="utf-8">
    <link href="https://cdn.jsdelivr.net/gh/regseb/gout@0/src/engine/img/icon.svg"
          rel="shortcut icon">
    <title>Gout</title>
    <script src="https://cdn.jsdelivr.net/gh/regseb/gout@0/src/engine/script.js"
            type="module"></script>
    <style>
        body { display: flex; }
        div  { display: flex; flex-direction: column; }
    </style>
  </head>
  <body>
    <!-- Les largeurs des colonnes sont modifiables en changeant la valeur de
         la propriété width. -->
    <div style="width: 25%;">
      <!--
        Les widgets sont à ajouter dans ce div pour les afficher dans la
        première colonne. Voici un exemple de structure d'un widget :
          <script type="application/json">
            {
                "module": { "...": "..." },
                "scrapers": [{ "...": "..." }, { "...": "..." }]
            }
          </script>
      -->
    </div>
    <div style="width: 25%;">
      <!-- Les widgets sont à ajouter dans ce div pour les afficher dans la
           deuxième colonne. -->
    </div>
    <div style="width: 25%;">
      <!-- Les widgets sont à ajouter dans ce div pour les afficher dans la
           troisième colonne. -->
    </div>
    <div style="width: 25%;">
      <!-- Les widgets sont à ajouter dans ce div pour les afficher dans la
           dernière colonne. -->
    </div>
  </body>
</html>
