div {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding: 8px;
}

input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid rgba(255 255 255 / 80%);
    color: white;
    flex-grow: 1;
    padding: 0;
    transition: 0.2s ease-out;
    width: 100%;
}
input::placeholder {
    opacity: 80%;
    transition: 0.2s ease-out;
}
input:focus {
    border-bottom-color: white;
    outline: none;
}
input:focus::placeholder {
    opacity: 20%;
}

ul {
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: auto calc(100% - 16px);
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
    list-style-type: none;
    margin: 0;
    padding: 8px 0 0;
}

li {
    align-items: center;
    display: flex;
}
li.empty {
    font-style: italic;
}

img {
    height: 12px;
    margin-right: 4px;
    opacity: 80%;
    width: 12px;
}
img[src=""] {
    display: none;
}

a {
    color: white;
    flex-grow: 1;
    overflow: hidden;
    text-decoration: none;
    /* Utiliser une ellipse en attendant que le fondu soit implémenté.
      https://bugzil.la/1688566 */
    text-overflow: ellipsis;
    white-space: nowrap;
}
a:visited, li.empty a {
    color: black;
}
a[href]:hover {
    text-decoration: underline;
}
