.regseb-financeyahoo {
    background-position: 0.7em center;
    background-repeat: no-repeat;
    background-size: auto 100%;
}
.regseb-financeyahoo > p {
    margin: 0.7em;
    padding-left: 3.5em;
}
.regseb-financeyahoo > p > a {
    color: white;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
