div {
    background-color: var(--color);
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding: 8px;
}

form {
    align-items: center;
    display: flex;
}

img {
    cursor: pointer;
    height: 12px;
    margin-right: 4px;
    opacity: 80%;
    transition: 0.2s ease-out;
    width: 12px;
}
img:hover {
    opacity: 100%;
}

input {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid rgb(255 255 255 / 80%);
    color: white;
    flex-grow: 1;
    padding: 0;
    transition: 0.2s ease-out;
}
input::placeholder {
    opacity: 80%;
    transition: 0.2s ease-out;
}
input:focus {
    border-bottom-color: white;
    outline: none;
}
input:focus::placeholder {
    opacity: 20%;
}

ul {
    background-color: black;
    box-sizing: border-box;
    color: white;
    display: none;
    list-style-type: none;
    margin-top: 16px;
    padding: 8px;
    position: absolute;
    width: calc(100% - 24px);
    z-index: 1;
}
ul.active {
    display: block;
}

li {
    align-items: center;
    cursor: pointer;
    display: flex;
    opacity: 80%;
    transition: 0.2s ease-out;
}
li:hover {
    opacity: 100%;
}

ul img {
    height: 24px;
    margin-right: 8px;
    opacity: 100%;
    width: 24px;
}
