core-feed {
    background-image: url("img/icon.svg");
    background-position: right 0.7em center;
    background-repeat: no-repeat;
    background-size: auto calc(100% - 1.4em);
    font-family: Verdana, sans-serif;
    font-size: 10px;
    line-height: 1.4em;
}
core-feed a {
    color: white;
    text-decoration: none;
}
core-feed a:visited {
    color: black;
}
core-feed a[href]:hover {
    text-decoration: underline;
}
core-feed > ul {
    list-style-type: none;
    margin: 0.7em;
    padding-left: 0;
}
core-feed > ul > li > img {
    float: left;
    height: 10px;
    margin-right: 0.3em;
    margin-top: 2px;
    opacity: 0.8;
    width: 10px;
}
core-feed > ul > li > a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
core-feed > ul > li > span {
    background-color: black;
    color: white;
    margin-right: 0.7em;
    margin-top: 0.7em;
    opacity: 0;
    overflow: hidden;
    padding: 0.7em;
    position: absolute;
    text-align: justify;
    visibility: hidden;
}
core-feed > ul > li > a:hover + span {
    opacity: 1;
    transition: z-index 1s linear, opacity 0.5s linear 1s;
    visibility: visible;
    z-index: 1;
}
