.search p {
    margin-top: 0;
    margin-bottom: 0;
    border-style: solid;
    border-width: 1px;
    height: 100%;
}
.search img, .search input {
    vertical-align: middle;
}
.search img {
    margin-left: 1px;
}
.search input {
    border: 0px solid;
}
.search ul {
    position: absolute;
    z-index: 1;
}
